<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Create your own recipe book!</h1>
    <p>You can share or just create your own recipe book for your personal use</p>
   <a href="">Login</a>
   <a href="/sign-Up">Sign Up</a>

</body>
</html>